.LoginInput {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.LoginInputUserForm {
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.registerLink{
  display: flex;
}

.LoginInputHeadingContainer{
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.LoginInputHeading{
  font-size: 50px;
  font-weight: 900;

}

