.LoginVisual {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
}

.LoginVisualHeading{
  display: flex;
  font-size: 40px;
  font-weight: 650;
}

.LoginVisualSubheading{
  display: flex;
}

.LoginVisualSubSubheading{
  font-size: 10px;
}