.loginPageContainer {
  height: 100%; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px; 
}

.loginPageDisplayContainer {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageUserInputContainer {
  padding: 10px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: flex-start; 
  gap: 20px; 
  width: 100%;
}

